h3{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(../Media/colorful-music-notes-background-isolated-white-abstract-background_743855-5470.avif);
}
th{
    background-color: chartreuse;
}